a2wsgi==1.10.10
apport_python_hook==0.1.0
argcomplete==3.6.3
atheris==3.0.0
beautifulsoup4==4.14.3
boto3==1.42.56
brotli==1.2.0
brotlicffi==1.2.0.0
cffi==1.16.0
chardet==4.0.0
colorama==0.4.4
Cython==3.2.4
defusedxml==0.7.1
docutils==0.22.4
email_validator==2.3.0
eval_type_backport==0.3.1
fastembed==0.7.4
filetype==1.2.0
fqdn==1.5.1
grandalf==0.8
grpc_reflection==1.0.0
grpc_tools==1.0.0
gunicorn==25.1.0
httptools==0.7.1
hypothesis==6.151.9
importlib_resources==6.5.2
ipython==8.12.3
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.2.0
Jinja2==3.1.3
js==1.0
jsonpath_ng==1.8.0
langchain_anthropic==1.3.4
langchain_openai==1.1.10
langgraph_api==0.7.55
langsmith_pyo3==0.1.0rc5
lxml==6.0.2
mtrand==0.1
mypy_boto3_secretsmanager==1.42.8
numarray==1.5.1
Numeric==24.2
outcome==1.3.0.post0
pandas==3.0.1
pexpect==4.9.0
pickle5==0.0.12
Pillow==9.0.1
Pillow==12.1.1
psutil==5.9.8
psutil==7.0.0
pycryptodome==3.23.0
pygraphviz==1.14
PyInstaller==6.19.0
pyodide==0.0.2
pyOpenSSL==25.3.0
pyperf==2.10.0
pyppeteer==2.0.0
python_bcrypt==0.3.2
pytz==2022.1
rapidfuzz==3.14.3
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
scipy_doctest==2.1.0
setuptools==80.9.0
setuptools==59.6.0
simplejson==3.20.2
simsimd==6.5.13
sniffio==1.3.1
socksio==1.0.0
Sphinx==9.1.0
threadpoolctl==3.6.0
tiktoken==0.11.0
tornado==6.4.1
tqdm==4.66.4
Twisted==25.5.0
uri_template==1.3.0
watchfiles==1.1.1
webcolors==24.6.0
winloop==0.5.0
wrapt==1.16.0
wsproto==1.3.2
xxhash==3.5.0
zope.interface==7.2
